@import "tailwindcss";

:root {
  --background: #FAF8F5;
  --foreground: #171717;
}

@theme {
  /* Only override what you need, keep all defaults */
  --breakpoint-lg: 1200px;
  
  --container-*: initial;
  --container-lg: 1200px;
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1rem; /* default padding */
    
    @media (width >= 1080px) {
      padding-inline: 2rem; /* md and up */
    }
    
    @media (width >= 1200px) {
      padding-inline: 3rem; /* lg and up */
    }
  }
}

@theme inline {
  --color-primary: #DD643C;
  --color-secondary: #F3EACE;
  --color-accent: #afcfbd;
  --color-border: #e5e7eb;
  --color-card: #FDFDFC;
  --color-muted: #676F7E;
  --color-error: #ef4444;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #DD643C;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: Noto Serif JP, serif;
}